[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
requests = "*"
wtforms = "*"
flask_assets = "*"
flask-static-compress = "*"
flask-pymongo = "*"
pymongo = "*"
dnspython = "*"
jac = "*"
flask-cors = "*"
nbformat = "*"
nbconvert = "*"

[dev-packages]

[requires]
python_version = "3.7.1"
