aadict==0.2.3
appnope==0.1.0
asset==0.6.12
backcall==0.1.0
beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
decorator==4.3.0
dnspython==1.15.0
Flask==1.0.2
Flask-Assets==0.12
Flask-Compressor==0.2.0
Flask-Cors==3.0.6
Flask-PyMongo==2.0.1
Flask-Static-Compress==1.0.2
globre==0.1.5
gunicorn==19.9.0
idna==2.7
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
itsdangerous==0.24
jac==0.17.1
jedi==0.12.1
Jinja2==2.10
jupyter-client==5.2.3
jupyter-core==4.4.0
lessc==0.1.2
MarkupSafe==1.0
ordereddict==1.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.6.0
Pygments==2.2.0
pymongo==3.7.1
python-dateutil==2.7.3
pyzmq==17.1.0
requests==2.19.1
rjsmin==1.0.12
simplegeneric==0.8.1
six==1.11.0
tornado==5.1
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
webassets==0.12.1
Werkzeug==0.14.1
WTForms==2.2.1
