beautifulsoup4==4.6.3
bleach==3.0.2
certifi==2018.10.15
chardet==3.0.4
Click==7.0
decorator==4.3.0
defusedxml==0.5.0
dnspython==1.15.0
entrypoints==0.2.3
Flask==1.0.2
Flask-Assets==0.12
Flask-Cors==3.0.7
Flask-PyMongo==2.2.0
Flask-Static-Compress==1.0.2
gunicorn==19.9.0
idna==2.7
ipython-genutils==0.2.0
itsdangerous==1.1.0
jac==0.17.2
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
MarkupSafe==1.1.0
mistune==0.8.4
nbconvert==5.4.0
nbformat==4.4.0
ordereddict==1.1
pandocfilters==1.4.2
Pygments==2.2.0
pymongo==3.7.2
requests==2.20.1
rjsmin==1.0.12
six==1.11.0
testpath==0.4.2
traitlets==4.3.2
urllib3==1.24.1
webassets==0.12.1
webencodings==0.5.1
Werkzeug==0.14.1
WTForms==2.2.1
