.login-page {
  padding: 20px 60px;
  margin: auto;
  max-width: 700px;
  @media(max-width: 700px) {
        padding: 20px;
  }
}

.main-content {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  text-align: center;
      width: 100%;
  height: 100%;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  @media(max-width: 600px) {
    padding: 20px 0;
    margin: 0;
    height: 550px;
  }

  .formtitle {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    display: none;
  }

  h3,
  h4 {
    color: #4d515d;
  }

  .main-contenttitle {
    color: white;
    background: #3b60ce;
    padding: 20px;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    @media(max-width: 600px) {
      font-weight: 400;
      font-size: 18px;
      width: auto;
    }
  }

  .main-contentcontent {
    padding: 50px 40px;
    background: white;
    @media(max-width: 600px) {
      padding: 30px 20px;
      background: white;
    }
  }

  h4 {
    font-weight: 500;
    @media(max-width: 600px) {
      font-weight: 400;
    }
  }

  a {
    font-family: 'Roboto';
    color: #23849c;
    font-weight: 100;
    line-height: 2;
    text-align: left;
  }
}

.recents {
  display: flex;
  justify-content: space-between;
  width: 85%;
  flex-direction: column;
  margin: 20px auto 0;

  @media(max-width: 700px) {
    width: 90%;
  }

  @media(max-width: 600px) {
    width: 95%;
  }

  a {
    margin-bottom: 10px;
  }
}

.recents a:last-child div {
  margin-bottom: 0;
}

.plotlyform {
  height: 100%;
  margin-top: 30px;
}

.main-content label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
}

.main-content input {
  ont-family: "Roboto",sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 22px;
  box-sizing: border-box;
  font-size: 14px;
  transition: all .3s easeout;
}

.main-content button {
  font-family: "Roboto",sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  margin-top: 0;
  transition: all 0.3s ease;
  cursor: pointer;
  color: white;
  font-weight: 600;
  border-radius: 2px;
  background: #1e5980;

  &:hover {
    background: #1a1f6d;
  }
}

input {
  transition: all .3s easeout;
  &:hover {
    background: #d8f9ff;
    border: 1px solid #0373b7;
    border-bottom: 0;
    &::-webkit-input-placeholder {
      opacity: 0.3;
    }
  }

  &:focus {
    border: 1px solid #2dbbce75;

    &::-webkit-input-placeholder {
      opacity: 0;
    }
  }
}

.theform {
  trasition: all .5s easeout;
  &:hover{
    box-shadow: 0px 0px 25px rgba(75, 76, 123, 0.4);
  }
}

  .main-content .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }

  .main-content .message a {
    color: #4CAF50;
    text-decoration: none;
  }

  .main-content .register-form {
    display: none;
  }
  /*form {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}*/
  h4 {
    text-align: left;
    font-weight: 100;
    font-size: 18px;
  }

  hr {
    margin: 40px auto 20px;
    color: #efefef;
    opacity: 0.3;
    @media (max-width: 600px) {
      display: none;
    }
  }

  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }

  .container:after,
  .container:before {
    content: "";
    display: block;
    clear: both;
  }

  .container .info {
    margin: 50px auto;
    text-align: center;
  }

  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }

  .container .info span a {
    color: #000000;
    text-decoration: none;
  }

  .container .info span .fa {
    color: #EF3B3A;
  }

  .example {
    color: #4d515d;
    font-size: 12px;
  }

  .nolink {
    margin: 40px auto 10px;
    padding-top: 20px;
    border-top: 1px solid #d6d6d6;
    display: block;
    color: #4d515d;
    font-size: 18px;
  }
