@import url("https://use.typekit.net/xry2rhz.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,100');

.home-template {
  top: 0;

  body,
  html {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .intro {
    text-align: center !important;
  }

  h1 {
    color: #fff;
    width: fit-content;
    width: -moz-fit-content;
    font-size: 3em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
    text-shadow: #3876d0 0 0 4px;
    margin: 70px auto 40px;
  }

  .notebooktitle {
    color: #888;
    width: fit-content;
    width: -moz-fit-content;
    font-size: 2em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
    text-shadow: #143e79 0 0 6px;
    margin: 70px auto 10px;
  }

  .examplelink {
    color: #717ff5;
  }

  .subheadline {
    color: #fff;
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    font-weight: 400;
    font-size: 1.1em;
    text-shadow: #3876d0 0 0 4px;
    @media (max-width: 600px) {
      font-size: 16px;
      letter-spacing: 0;
      font-weight: 500;
      color: #ffffff !important;
      width: 85% !important;
      display: block;
      margin: auto;
      text-align: center;
      line-height: 1.4;
      text-shadow: #3876d0 0 0 4px;
    }
  }

  .intro {
    width: 800px;
    margin: auto;

    .title {
      font-size: 4em;
      margin: 120px auto 0;
      font-family: 'Montserrat', sans-serif !important;
      font-weight: 600;
      color: white;
      width: fit-content;
    }
  }

  .mainHeader {
    font-size: 3.25em;
    margin: 50px auto 0;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
    color: white;
    width: fit-content;
  }

  h3 {
    margin: 0 0 40px;
    font-weight: 500;
    font-size: 1.8em;
    font-family: 'Montserrat';
  }

  Whitney SSm A {
    font-size: 16px;
    font-weight: 400;
    margin: 10px auto 50px;
    width: fit-content;
    width: -moz-fit-content;
    letter-spacing: 1.3px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-align: justify;
  }

  .blurb {
    width: 670px;
    margin: 20px auto;
    font-size: 14px;
    font-family: "nimbus-sans", sans-serif;
    line-height: 1.4;
    font-weight: 300;
    color: white;
    text-align: justify;
    background: rgba(0, 0, 0, 0.25);
    padding: 10px;
  }

  a {
    text-decoration: none !important;

    &:last-child {
      margin-bottom: 0;
    }
  }

  span {
    font-family: "Open sans";
  }
  @media (max-width: 700px) {
    .title {
      font-size: 2.6em;
      margin-top: 60px;
      margin-bottom: 30px;
      text-shadow: #3876d0 0 0 4px;
    }
  }

  .preview-title{
     font-weight: 500;
    font-size: 1.5em;
    text-align: center;
    margin: 40px auto 10px;
    padding: 10px;
    font-size: 25px;
  }

  .link-preview {
    border-radius: 3px;
    overflow: hidden;
    text-decoration: none !important;
    margin-bottom: 5px;
    padding: 0;
    border: 1px solid #efefef;
    height: 80px;
    display: flex;
    align-items: center;
    transition: all 0.3s easeout;
    background:rgba(255, 255, 255, .8);

    &:hover {
      background: #2dbbce;
      color: white;

      * {
        color: white;
      }
    }

    .link-info {
      width: 80%;
      display: inline-block;
    }

    .url-info {
      font-size: 11px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      line-clamp: 1;
      white-space: nowrap;
      width: 80%;
    }

    h4 {
      margin: 0 0 5px;
      font-weight: 600;
      text-decoration: none;
      line-height: 1.2;
      font-size: 0.9em;
      margin-top: 0;
      font-family: 'Open Sans';
    }

    p {
      color: #444444;
      text-decoration: none !important;
      font-size: 14px;
      margin: 0;
      line-height: 1.5;
      width: auto;
      overflow: hidden;
      height: 38px;
      width: 94%;
    }

    span {
      font-size: 11px;
    }

    .preview-image {
      width: 80px;
      height: 80px;
      background-size: cover;
      display: inline-block;
      margin-right: 15px;
    }
  }
}
/*# sourceMappingURL=../css/style.scss.css.map */
